body {
	margin: 0;
	padding: 0;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;
}

.user-navigation_1 li,
.user-navigation_2 li,
.site-navigation-top li,
.transport li,
.site-navigation-bottom li,
.product-navigation li,
.footer-social li {
	list-style-type: none;
}


.main_title {
	font-family: Cuprum, Arial, sans-serif;
	font-style: italic;
	color:#ee3643;
	font-size: 16px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site_logo {
	background-color: #ee3643;
	box-shadow: 0 7px 0 0 #b52933;
	height: 40px;
	width: 220px;
	font-size: 27.532px;
	font-family: Cuprum, Arial, sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
}

.main-footer-logo {
	text-decoration: none;
}

.confirm_order a {
	background-color: #63a63e;
	text-decoration: none;
}

.phone {
	font-size: 21px;
	color:#e9292a;
	text-decoration: none;
}


.address {
	font-size: 14px;
	color:#32425c; 
}

.login-link a,
.sign_up-link a {
	font-size: 21px;
	color: #000000;
	text-decoration: none;
}

.shopping_cart_selected {
	background-color: #ee3643;
}

.user_page {
	font-size: 21px;
	color: #000000;
	text-decoration: none;
}

.my_orders,
.my_account {
	font-size: 16px;
	text-decoration: underline;
	color:#32425c;
}

.breadcrumbs li,
.breadcrumbs a {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.page-title {
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.filters h3 {
	font-family: PT Sans, Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-transform: uppercase;
}

.filters label {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}

.filters button {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.item_card,
.new_item_card,
.new_item_card_selected {
	min-height: 318px;
	width: 220px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	margin-bottom: 22px;
}

.buy {
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #63a63e;
}

.add_to_marks {
	font-size: 14px;
	color: #32425c;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.item_name {
	font-family: PT Sans, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}

.old_price {
	font-family: PT Sans, Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	color: #999999;
	text-decoration: line-through;
}

.new_price {
	font-family: PT Sans, Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	color: #ffffff;
	background-color:#ee3643;
}

.item_image {
	padding: 40px 50px 0px 40px;
}


.item_name {
	padding: 30px 30px 15px 30px;
	text-align: center;
}

.old_price {
	padding: 0px 96px 0px 50px
}

.new_price {
	padding-left: 44px;
}

.user-navigation_1,
.lower_footer {
	background-color: #293449;
}

.site-navigation-top,
.site-navigation-bottom,
.upper_footer {
	background-color: #32425c;
}

.site-navigation-top {
	box-shadow: 0 5px 0 0 #293449;
}

.user-navigation_1 a,
.site-navigation-top a,
.site-navigation-bottom a {
	font-size: 17px;
	color:#ffffff;
	text-decoration: none;
}

.about_us h2,
.contacts h2 {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}

.general_info {
	font-size: 13px;
	line-height: 24px;
}

.transport {
	font-size: 18px;
	line-height: 20px;
}

.company_info,
.message {
	background-color: #ee3643;
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.product-navigation a {
	font-size: 18px;
	color:#ffd180;
	text-decoration: none;
}

.footer-contacts {
	color:#ffffff;
	font-size: 18px;
	line-height: 24px;
}

.reserved_rights {
	color:#ffffff;
	font-size: 16px;
}

.footer-copyright span,
.feedback span {
	color:#ffffff;
	font-size: 16px;
	line-height: 18px;
}

.footer-copyright a,
.feedback a {
	color:#ffd180;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}